body{
    font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Шапка*/
ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}
.header_img-bar-fade{
    padding: 50px 100px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.menu__item {
    margin-left: 50px;
}
.menu__item a, i, .logo{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
.menu__item a:hover{
    color: #2ebaee;
    border-bottom: 1px solid #2ebaee;
    transition:  all .3s;
}
.menu__item i:hover{
    color: #2ebaee;
    cursor: pointer;
    transition: all .3s;
}
header{
    background: linear-gradient(rgba(2, 2, 2, 0.8), rgba(0, 0, 0, 0.6)),url(/src/img/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.header__title{
    text-align: center;
    padding-top: 310px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 72px;
}
.header__title span{
    color: #2ebaee;
}
.header__text{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
    color: #fff;
    max-width: 670px;
    font-size: 24px;
}
.button-header{
    width: 216px;
    height: 52px;
    border-radius: 30px;
    border: 1px solid #2ebaee;
    background: #2ebaee;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 300px;
}
.button-header:hover{
    border: 1px solid #fff;
    background: transparent;
    transition:  all .3s;
}
/* Услуги*/
.title{
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    padding: 90px 0;
}
.services__item{
    max-width: 306px;
    padding: 78px 0;
}
.text{
    font-size: 14px;
}
.services__item h3{
font-size: 24px;
padding-top: 56px;
padding-bottom: 32px;
font-weight: 400;
}
.services__item img{
    width: 80px;
    height: 78px;
}
.button{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 16px 25px;
    border-radius: 30px;
    border: 1px solid #2ebaee;
    background: #2ebaee;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}
.button:hover{
    background: transparent;
    color: #2ebaee;
}
.services__title-black{
    font-weight: 400;
    font-size: 30px;
    color: #000000;
}
.services__title-white{
    font-size: 30px;
    color: #000000;
}
.services__text{
    width: 500px;
    padding-top: 58px;
    padding-bottom: 83px;
}
.services__img-right{
  position: relative;
  right: 80px;
  
}
.services__img-left{
    
}
.pt{
    padding-top: 180px;
}
.button-white{
    background: #fff;
    border: 1px solid #fff;
    color: #2ebaee;
}
.button-white:hover{
    background: transparent;
    color: #fff;
}
.services{
    background-image: linear-gradient(150deg, #fff 50%, #2ebaee 50%);
    background-repeat: no-repeat;
    padding-bottom: 146px;
    background-position: right bottom;
    background-position-y: 150px;
}